<nav class="breadcrumb blogcrumb">
  <%= link_to fa_icon(blog_status(tarefa)), toggle_status_blog_path(tarefa), style: blog_status_color(tarefa) %>
  <%= link_to fa_icon('pencil-square-o'), edit_blog_path(tarefa)%>
  <%= link_to fa_icon('trash-o'), tarefa, method: :delete, data: { confirm: 'Você tem certeza?' }%>
</nav>
