<%= form_for(@tarefa) do |f| %>
  <% if @tarefa.errors.any? %>
    <% @tarefa.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>
<div class='row'>
  <div class="col-md-6">
    <div class="form-group">
      <div class="form-group">
        <%= f.label :titulo %>
        <%= f.text_field :titulo, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :descricao %>
        <%= f.text_area :descricao, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.collection_select :situacao,
            Tarefa.situacoes.keys.map{|s| [s, s.capitalize]},
              :first, :last, {include_blank: 'situacao'},
              {class: 'form-control'} %>
      </div>


      <div class="form-group">
        <%= f.collection_select :prioridade,
            Tarefa.prioridades.keys.map{|s| [s, s.capitalize]},
              :first, :last, {include_blank: 'prioridade'},
              {class: 'form-control'} %>
      </div>

      <div class="form-group">
        <%= f.collection_select :atribuicao,
            Tarefa.atribuicoes.keys.map{|s| [s, s.capitalize]},
              :first, :last, {include_blank: 'atribuições'},
              {class: 'form-control'} %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">

      <div class="form-group">
        <%= f.label :inicio %>
        <%= f.text_field :inicio, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :data_prevista %>
        <%= f.text_field :data_prevista, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :tempo_estimado %>
        <%= f.text_field :tempo_estimado, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.collection_select :porcetagem_terminado,
            Tarefa.porcetagens_terminados.keys.map{|s| [s, s.capitalize]},
              :first, :last, {include_blank: 'porcentagem terminada'},
              {class: 'form-control'} %>
      </div>

    </div>
  </div>
</div>

<div class="actions">
  <%= f.submit 'Criar tarefa', class: 'btn btn-primary' %>
</div>
&nbsp;
<% end %>
