<div class="col-sm-8 blog-main">

  <h1>Editando Tarefa</h1>

  <%= render 'form', tarefa: @tarefa %>

  <%= link_to 'Ver tarefa', @tarefa, class: 'btn btn-primary' %> |
  <%= link_to 'Voltar', tarefa_path, class: 'btn btn-primary' %>

</div>
