<div class="col-sm-8 blog-main">

  <h2><%= @tarefa.titulo %></h2>

  <p>
    <strong>Descrição:</strong>
    <%= @tarefa.descricao %>
  </p>


  <p>
    <strong>Tempo estimado:</strong>
    <%= @tarefa.tempo_estimado %>
  </p>

</div>
<%= link_to 'Editar tarefa', edit_tarefa_path(@tarefa), class: 'btn btn-primary' %>

<%= link_to 'Ver novas tarefas', pages_novas_tarefas_path, class: 'btn btn-primary' %>
<%= link_to 'Ver tarefas feitas', pages_tarefas_feitas_path, class: 'btn btn-primary' %>
