<h1>Tarefas</h1>

<%= link_to 'Criar nova tarefa', new_tarefa_path, class: 'btn btn-primary'  %>
<%= link_to 'Novas tarefas',  pages_novas_tarefas_path, class: 'btn btn-primary'  %>
<%= link_to 'Tarefas Feitas', pages_tarefas_feitas_path, class: 'btn btn-primary'  %>
