<h1>Novas Tarefas</h1>
<nav aria-label="Breadcrumb" class="breadcrumb">
  <%= link_to "Home", root_path, class: 'breadcrumb-item'%>
  <span class="breadcrumb-item active">Novas tarefas</span>
</nav>

  <table class="table table-hover">
      <thead>
        <tr class="text-left">
          <th><h5>Titulo</h5></th>
          <th><h5>Situação</h5></th>
          <th><h5>Prioridade</h5></th>
          <th><h5>Atribuição</h5></th>
          <th><h5>Data de inicio</h5></th>
          <th><h5>Data prevista</h5></th>
          <th><h5>Porcentagem concluida</h5></th>
          <th></th>
        </tr>
      </thead>

  <tbody id="table">
    <% @tarefas.each do |tarefa| %>
      <tr>
        <th><%= link_to tarefa.titulo, tarefa %> <small class="text-muted">Published <%= distance_of_time_in_words(tarefa.created_at, Time.now) %></small></th>
        <td><%= tarefa.situacao %></td>
        <td><%= tarefa.prioridade %></td>
        <td><%= tarefa.atribuicao %></td>
        <td><%= tarefa.inicio %></td>
        <td><%= tarefa.data_prevista %></td>
        <td><%= tarefa.porcetagem_terminado %></td>

        <th class="text-right">
          <%= link_to edit_tarefa_path(tarefa), class: 'btn btn-primary' do %>
          <%= fa_icon 'edit', style: "font-size:23px" %>
          <% end %>

          <%= link_to tarefa, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
          <%= fa_icon 'trash', style: "font-size:23px" %>
          <% end %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>
