@import "bootstrap";
@import "font-awesome";

// .tarefa-post {
//   margin-bottom: 4rem;
// }
// .tarefa-post-title {
//   margin-bottom: .25rem;
//   font-size: 2.5rem;
// }
// .tarefa-post-meta {
//   margin-bottom: 1.25rem;
//   color: #999;
// }
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}

html,
descricao {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  text-align: center;
  // text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.breadcrumb-item.active{
   margin-right: auto;
}
